<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Reef Control</title>
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/metisMenu/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static',filename='dist/js/sb-admin-2.js') }}"></script>
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='dist/css/sb-admin-2.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
    <script> setInterval(function() {
        location.reload(true);
    }, 180000); </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- <input name="temps.txt" type="/static/temp.txt"> -->
</head>
<body>
    <div id="wrapper" id="wrapper" style="margin-left: 0px !important;">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #337ab7; border-color: #337ab7;">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html" style="color:white;">Reef Control</a>
            </div>
        </nav>
        <div id="page-wrapper" id="wrapper" style="margin-left: 0px !important;">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Temperature Graphs</div>
                        <div class="panel-body">
                            <br>
                            <center>
                                <div id="temps" style="width:90%;"><br>
                                    <script type="text/javascript">
                                        g = new Dygraph(document.getElementById("temps"),"{{ url_for('static',filename='temp.txt') }}",
                                            {rollPeriod: 1000,showRoller: true,ylabel: 'Temperature (F)',showRangeSelector: true,strokeWidth: 2,valueRange: [76.5, 77.1]});
                                        </script>
                                        <br>
                                    </div>
                                </center>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Temperature Statistics</div>
                            <div class="panel-body">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Sensor Name</th>
                                            <th>Temperature</th>
                                            <th>Average</th>
                                            <th>Cooling Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sensor in temperatureStats %}
                                        <tr>
                                            <td>{{sensor.name}}</td>
                                            <td>{{sensor.temperature}}</td>
                                            <td class="center">{{sensor.temperatureaverage}}</td>
                                            <td>{{sensor.pinstatus}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Processes</div>
                            <div class="panel-body">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Process Name</th>
                                            <th>Command</th>
                                            <th>Status</th>
                                            <th>PID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for process in processStatus %}
                                        <tr>
                                            <td>{{process.type}}</td>
                                            <td>{{process.name}}</td>
                                            <td>{{process.command}}</td>
                                            <td>{{process.status}}</td>
                                            <td>{{process.pid}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">ATO Reservoir Status</div>
                            <div class="panel-body">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active {{atoStatusColor}}" role="progressbar" aria-valuenow="{{ReservoirStatus}}" aria-valuemin="0" aria-valuemax="100" style="width:{{atoStatus}}%">
                                        {{atoStatus}}%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Outlet Status
                            </div>
                            <div class="panel-body">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Outlet</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for outlet in powerStatus %}
                                        <tr>
                                            <td><a href="#{{outlet.name}}">{{outlet.name}}</a></td>
                                            <td>{{outlet.desc}}</td>
                                            <td>{{outlet.status}}</td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Power Functions</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <form action="{{ url_for('on') }}" method="post">
                                                    <label>All On</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                            <div class="form-group">
                                                <form action="{{ url_for('off') }}" method="post">
                                                    <label>All Off</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <form action="{{ url_for('feed') }}" method="post">
                                                <label>Feeding</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for outlet in powerStatus %}
                <div class="panel panel-primary">
                    <div class="panel-heading">{{outlet.name}} - {{outlet.desc}}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" id="{{outlet.name}}">
                                    <form action="{{ url_for('outletControl') }}" method="post"> 
                                        <input type="hidden" name="pin" value="{{outlet.pin}}">
                                        <select name="action" class="form-control">
                                            <option {{outlet.selected}} value="on">On</option>
                                            <option {{outlet.selected}} value="off">Off</option> 
                                        </select>
                                        <br>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>