<html>
<body>
<br>
<br><br>
Outlet Group Status:
<form action="{{ url_for('status') }}" method="post">
<input type="submit">
</form>
<br><br>
All on.
<form action="{{ url_for('on') }}" method="post">
<input type="submit">
</form>
<br><br>
All off.
<form action="{{ url_for('off') }}" method="post">
<input type="submit">
</form>
<br><br>
Outlet Group #1
<form action="{{ url_for('ogcontrol') }}" method="post">
<input type="hidden" name="outletGroup" value="og1">
On:<input type="radio" value="on" name="operation">Off: <input type="radio" name="operation" value="off"><br>
<input type="submit">
</form>
<br><br>
Outlet Group #2
<form action="{{ url_for('ogcontrol') }}" method="post">
<input type="hidden" name="outletGroup" value="og2">
On:<input type="radio" value="on" name="operation">Off: <input type="radio" name="operation" value="off"><br>
<input type="submit">
</form>
<br><br>
Outlet Group #3
<form action="{{ url_for('ogcontrol') }}" method="post">
<input type="hidden" name="outletGroup" value="og3">
On:<input type="radio" value="on" name="operation">Off: <input type="radio" name="operation" value="off"><br>
<input type="submit">
</form>
<br><br>
Outlet Group #4
<form action="{{ url_for('ogcontrol') }}" method="post">
<input type="hidden" name="outletGroup" value="og4">
On:<input type="radio" value="on" name="operation">Off: <input type="radio" name="operation" value="off"><br>
<input type="submit">
</form>
<br><br>
Outlet Group #5
<form action="{{ url_for('ogcontrol') }}" method="post">
<input type="hidden" name="outletGroup" value="og5">
On:<input type="radio" value="on" name="operation">Off: <input type="radio" name="operation" value="off"><br>
<input type="submit">
</form>
<br><br>
Outlet Group #6
<form action="{{ url_for('ogcontrol') }}" method="post">
<input type="hidden" name="outletGroup" value="og6">
On:<input type="radio" value="on" name="operation">Off: <input type="radio" name="operation" value="off"><br>
<input type="submit">
</form>
<br><br>
</body>
</html>